@font-face {
  font-family: 'Sandoll Gothic M';
  src: url('./stylesheets/fonts/SandollGothicM.ttf');
}
@font-face {
  font-family: 'Sandoll Gothic L';
  src: url('./stylesheets/fonts/SandollGothicL.ttf');
}
@font-face {
  font-family: 'Sandoll Gothic H';
  src: url('./stylesheets/fonts/SandollGothicH.ttf');
}
@font-face {
  font-family: 'Sandoll Gothic EB';
  src: url('./stylesheets/fonts/SandollGothicEB.ttf');
}
@font-face {
  font-family: 'Sandoll Gothic B';
  src: url('./stylesheets/fonts/SandollGothicB.ttf');
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
  font: 1em Sandoll Gothic L;
}

body {
  margin: 0;
  padding: 0;
  background: #fef4ed;
}
input {
  outline: none;
  border: none;
}